@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html{
    background: white;
}

body{
    margin: 3% 5%;
    padding: 15px 0;
    border-radius: 8px;

    font: 400 14px Roboto, sans-serif;
    background: #f0f0f5;
    -webkit-font-smothing: antialiased;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 10px;
}

header .image{
    height: 200px;
    width: 200px;
    border-radius: 50%;

    background-image: url('../images/foto_perfil_2.jpg');
    background-position:  top;
    background-repeat: no-repeat;
    background-size: 200px;

    box-shadow: grey 0px 0px 10px;
}

header h1{
    width: 50vw;
    text-align: center;
}

.container{
    margin: 10px 5%;

    display: flex;
    flex-direction: column ;
    align-items: stretch;
    justify-content: space-between;
}

.container .details{
    width: 100%;
    min-height: 200px;
    padding-bottom: 10px;
    margin: 10px 0;

    background: #f8f8f8;
    box-shadow: #888 0 0 10px;

    border-radius: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .details strong{
    width: 100%;
    display: block;
    padding: 10px 0;
    margin-bottom: 10px;
    background: #d9d9d9;
    text-align: center;

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.container .details strong h2{
    line-height: 32px;
}

.container .details .sides{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.container .details .side{
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .details .sides .map iframe{
    box-shadow: grey 0 0 10px ;
    border-radius: 8px;
    margin: auto;
}
