@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html{
    background: #333;
}

body{
    margin: 3% 5%;
    padding: 15px 0;
    border-radius: 8px;

    font: 400 14px Roboto, sans-serif;
    background: #f0f0f5;
    -webkit-font-smothing: antialiased;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 10px;
}

.image{
    height: 200px;
    width: 200px;
    border-radius: 50%;

    background-image: url('../images/foto_perfil_2.jpg');
    background-position:  top;
    background-repeat: no-repeat;
    background-size: 200px;

    box-shadow: grey 0px 0px 10px;
}

h1{
    width: 50vw;
    text-align: center;
}

.container{
    margin: 10px 0;

    padding: 0 5%;

    display: flex;
    flex-direction: column ;
    align-items: stretch;
    justify-content: space-between;
}

.details{
    width: 100%;
    padding-bottom: 10px;
    margin: 10px 0;

    background: #f8f8f8;
    box-shadow: #888 0 0 10px;

    border-radius: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

strong{
    width: 100%;
    display: block;
    padding: 10px 0;
    margin-bottom: 10px;
    background: #d9d9d9;
    text-align: center;

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

h2{
    line-height: 32px;
    color: #555;
}
.sides{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.side{
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.map iframe{
    box-shadow: grey 0 0 10px ;
    border-radius: 8px;
    margin: auto;
}

.infos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    line-height: 25px;
}

.links{
    margin-top: 10px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.links a + a{
    margin-left: 50%;
}

.links img{
    height: 64px;
}

.grafics{
    width: 80%;
    height: 100%;

    margin: auto;
}

.container-formation{
    width: 70%;
}

.container-formation img{
    height: 120px;
}

.formation{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.progress{
    width: 80%;
}

@media screen and (max-width: 900px){
    body{
        margin: 0;
        border-radius: 0;

        font-size: 10px;
    }
    header{
        justify-content: space-around;
    }
    h2{
        line-height: 18px;
    }
    .links img{
        height: 45px;
    }
    .container-formation img{
        height: 80px;
    }
    .map iframe{
        width: 90%;
    }
    .image{
        width: 25vw;
        height: 25vw;

        background-size: 27vw;
    }
    .sides{
        flex-direction: column;
    }
    .side{
        margin: 20px auto;
        width: 95%;
    }
    .container-formation{
        width: 95%;
    }
}